@media screen and (min-width: 100px) and (max-width: 768px){

    .second-page .header {

        background-image: url(../imgs/btn3.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 35%;
        padding: 20px 30px 50px 30px;
    }
}